.channelGroups {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1rem;
}
.channel {
  width: 4.8rem;
}

.channelCover {
  display: flex;
  row-gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.channelAvatar {
  border-radius: 50%;
  object-fit: cover;
  border: 0;
}

.channelTitle {
  text-align: center;
  font-size: 1rem;
  color: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.avatarCheck {
  border: 0.2rem #ffffff solid;
}

/* "title": "Simple javaScript",
"url": "https://yt3.ggpht.com/ytc/AIf8zZTW1ghFBIrHx2t1Ulg-AJMgA_htLmqs5kwa8NfV=s88-c-k-c0xffffffff-no-rj-mo" */
