.dashboardLayout {
  margin: 7rem auto;
}

.dashboardSection {
  color: var(--white-100-color);
}

.dashboardSection > div {
  display: flex;
  column-gap: 1.5rem;
  place-items: center;
  font-size: 1.4rem;
}

.dashboardSection > div > img {
  border-radius: 50%;
}

.dashboardSection > div > h3 {
  margin: 0;
  white-space: pre-wrap;
  word-break: break-all;
}

.dashboardSection > div > h3,
.descriptionDetail,
.dashboardBarChart {
  width: 100%;
}

.dashboardDescription {
  font-size: 1.5rem;
  margin: 1rem 0;
  background-color: var(--black-300-color);
}

.descriptionTitle {
  font-size: 2rem;
}

.descriptionDetail {
  height: 7.2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  white-space: pre-wrap;
}

.dashboardBarChart {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.dashboardSection > div,
.itemPadding {
  padding: 1rem 1rem;
}
