.dashboardLayout {
  margin: 7rem auto 0;
}

.dashboardSection {
  color: var(--white-100-color);
}

.dashboardSection > div {
  display: flex;
  column-gap: 1.5rem;
  place-items: center;
  font-size: 1.4rem;
}

.dashboardSection > div > img {
  border-radius: 50%;
}

.dashboardSection > div > h3 {
  margin: 0;
  white-space: pre-wrap;
  word-break: break-all;
}

.dashboardSection > table,
.dashboardSection > div > h3,
.descriptionDetail,
.dashboardBarChart {
  width: 100%;
}

.dashboardSection > table {
  text-align: center;
  margin: 2rem 0;
}

.dashboardSection > table > thead tr > th {
  background-color: #7f39fb;
  border-radius: 0.6rem;
}

.dashboardSection > table > tbody tr > td {
  background-color: var(--black-300-color);
  border-radius: 0.6rem;
}

.dashboardSection > table > thead tr > th,
.dashboardSection > table > tbody tr > td {
  padding: 1rem;
}

.dashboardSection > table,
.descriptionTitle {
  font-size: 1.2rem;
}

.dashboardDescription {
  font-size: 1.5rem;
  margin: 1rem 0;
  background-color: var(--black-300-color);
}

.descriptionDetail {
  height: 7.2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  white-space: pre-wrap;
}

.dashboardBarChart {
  display: grid;
  grid-template-rows: repeat(3, minmax(28rem, 1fr));
}

.dashboardSection > div,
.dashboardDescription {
  padding: 1rem 1rem;
}

.dashboardVideo {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

@media screen and (min-width: 768px) {
  .dashboardLayout {
    margin-top: 2.5rem;
    margin-left: 25rem;
    padding: 0 1rem;
  }
  .descriptionTitle {
    font-size: 2rem;
  }
  .dashboardVideo {
    width: 100%;
    display: grid;
    grid-template-rows: none;
    grid-template-columns: repeat(3, 1fr);
    place-self: center;
  }
}
@media screen and (min-width: 1280px) {
  .dashboardLayout {
    margin-left: 30rem;
  }
}
