.errorContainer {
  background-color: #cf6679;
  color: #b00020;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.errorContainer > h2 {
  margin: 0;
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.errorContainer > p {
  margin: 0;
  padding: 0 1rem 1rem;
  font-size: 1.8rem;
}
