.rootError {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.errorContainer {
  background-color: #cf6679;
  color: #b00020;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.errorContainer > h2 {
  margin: 0;
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.errorContainer > p {
  margin: 0;
  padding: 0 1rem 1rem;
  font-size: 1.8rem;
}

.resetContainer {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
}

.resetContainer > button {
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 0.6rem;
  margin-right: 2rem;
  background-color: #7f39fb;
  color: var(--white-100-color);
}

.resetContainer > button:hover {
  background-color: #9153fc;
}
