.linegraph {
  display: flex;
  justify-content: center;
}

.lineDraw {
  fill: none;
  stroke-width: 2;
}

.axis {
  font-size: 1.4rem;
  color: var(--white-100-color);
}

.toolTip {
  fill: var(--white-100-color);
  stroke: var(--black-100-color);
}
