.rootMain {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13.4rem, 1fr));
  row-gap: 2rem;
  column-gap: 1rem;
  max-width: 90%;
  margin: 3rem auto;
}

.rootMain a {
  display: flex;
  flex-direction: column;
  place-items: center;
  row-gap: 1rem;
  padding: 1.5rem;
  border-radius: 2rem;
  opacity: 0.7;
  transition: opacity 300ms ease-out;
  background-color: var(--white-100-color);
}

.rootMain a:hover,
.rootMain a:active {
  opacity: 1;
}

.rootMain img {
  object-fit: cover;
  border-radius: 50%;
}

.rootMain span {
  width: 100%;
  color: var(--black-200-color);
  font-size: 1.4rem;
  font-weight: 550;
  letter-spacing: 0.2rem;
  text-align: center;
  text-transform: uppercase;
  white-space: pre-wrap;
  word-break: break-word;
}
