html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: #121212;
}

a {
  text-decoration: none;
  color: #121212;
}

ul,
ol,
menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
  border: 0;
}

li::marker {
  display: none;
}

button {
  background-color: transparent;
  border-width: 0;
  border-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1.6rem;
}
