.groups {
  position: relative;
  display: flex;
  & button {
    font-weight: 550;
  }
}

.fill_check {
  & > button svg {
    fill: var(--fill-bgcolor);
  }
}

.hidden {
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
}