.toast {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  min-width: 35rem;
  height: 5rem;
  border-radius: 1rem;
  background-color: #2b2f77;
  z-index: 10;
  will-change: top;
  transition: top 0.6s ease-in-out;
}

.toast.open {
  top: 1rem;
}

.toast_context {
  width: 100%;
  font-size: 1.4rem;
  color: #ffffff;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}