:root {
  --fill-bgcolor: #1414de;
  --fill-like-bgcolor: #e02323;
  --fill-hover-bgcolor: #6114de;
  --fill-nav-bgcolor: #fafafa;
}
html {
  font-size: 62.5%
}

body {
  font-family: DotumChe, sans-serif;
  margin: 0;
  padding: 0;
}

button {
  appearance: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

button, a {
  cursor: pointer;
}
p, em {
  margin: 0;
  font-style: normal;
}