.totalTable {
  width: 100%;
  text-align: center;
  margin: 2rem 0;
  font-size: 1.2rem;
}

.totalTableHeader tr > th,
.totalTableBody tr > td {
  padding: 1rem;
  border-radius: 0.6rem;
}
.totalTableHeader tr > th {
  background-color: #7f39fb;
}
.totalTableBody tr > td {
  background-color: var(--black-300-color);
}
